<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>pyMUSHRA</title>
    <meta name="description" content="pyMUSHRA by International Audio Laboratories Erlangen">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="International Audio Laboratories Erlangen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
    <div class="header clearfix">
    <h3 class="text-muted"><a href="{{ url_for('admin_list') }}">pyMUSHRA</a></h3>
    </div>

    <div class="jumbotron">
        {% block content %}
        {% endblock content %}
    </div>
    {% block script %}
    {% endblock script %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</body>
</html>
